<div class="container">
  <app-course-header></app-course-header>
  <div class="content">
     <nav class="sidebar">
       <app-side-nav></app-side-nav>
     </nav>
     <main class="facilitator-view">
        <div class="overview">
          <h1 class="overview__heading">Facilitators</h1>
        </div>
        <div class="overview">
        <span class="overview__span"><img src="/assets/img/user.svg" alt="" class="overview__icon">Facilitator</span>
        </div>
        <div class="overview">
          <img src="/assets/img/coder9.png" alt="" class="overview__image">
        </div>
        <div class="overview">
          <h2 class="overview__text">No Facilitator added on the system</h2>
        </div>
        <div class="overview">
          <p class="overview__copy">Click the button below to add a Facilitator</p>
        </div>
        <div class="overview">
          <a href="#"><button type="button" class="btn btn-primary" style="margin-left: 40rem; margin-top: 1rem;">Add Facilitator</button></a>
        </div>
     </main>
  </div>
</div>
