<div class="container">
  <app-course-header></app-course-header>
  <div class="content">
    <nav class="sidebar">
       <app-side-nav></app-side-nav>
    </nav>
    <main class="forum-view">
       <div class="overview">
         <h1 class="overview__heading">Forum</h1>
       </div>
       <div class="overview">
        <span class="overview__span"><img src="/assets/img/user.svg" alt="" class="overview__icon">Forum</span>
      </div>
      <div class="overview">
       <div class="row g-3">
         <div class="col">
          <label for="forumName" style="margin-left: 10rem; margin-top: 2rem;">Forum Name</label>
          <input type="text" class="form-control" placeholder="Game development with Unity" id="autoSizingInput" aria-label="game" style="margin-left: 10rem; width: 80%;">
         </div>
         <div class="col">
          <label for="numberOfStudent" style="margin-left: 10rem; margin-top: 2rem;">Number Of Student</label>
          <select id="SelectInstructor" class="form-control system-drop">
            <option>24</option>
            <option>33</option>
          </select>
         </div>
       </div>
      </div>
      <div class="overview">
       <div class="row g-3">
        <div class="col">
          <label for="selectCourse" style="margin-left: 10rem; margin-top: 2rem;">Select Course</label>
          <select id="selectCourse" class="form-control system-drop">
            <option>Ethical Hacking</option>
            <option>Docker</option>
            <option>React</option>
          </select>
        </div>
        <div class="col">
         <label for="selectInstructor" style="margin-left: 10rem; margin-top: 2rem;">Select Instructor</label>
         <select id="selectInstructor" class="form-control system-drop--1">
           <option>Micheal</option>
           <option>Samuel</option>
           <option>Victor</option>
         </select>
        </div>
       </div>
      </div>
      <div class="overview">
       <div class="row">
         <div class="form-group">
          <label for="startDate" style="margin-left: 11rem; margin-top: 2rem;">Start Date</label>
          <input type="text" class="form-control" placeholder="dd / mm / yyyy" id="autoSizingInput" aria-label="Start Date" style="margin-left: 11rem; width: 80%;">
         </div>
       </div>
      </div>
      <div class="overview">
        <div class="form-group row">
          <div class="col-md-6">
            <button class="btn btn-light" style="margin-left: 10rem; margin-top: 2rem;">Cancel</button>
          </div>
          <div class="col-md-6">
            <a [routerLink]="['/list-forum']"><button class="btn btn-primary" style="margin-left: 20rem; margin-top: 2rem; width: 60%;">Add Forum</button></a>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
