<app-header></app-header>
<div class="container">
  <div class="row">
      <div class="col-6">
        <h1 class="heading__primary">
          Would you like
          <br class="hidden-xs">
          to learn to code
          <br class="hidden-xs">
          for free?
        </h1>
        <p class="long__copy">
         Inspire coders offers the best on hands practice in the world of
         <br class="hidden-xs">
         programming. The training is for complete beginners who
         <br class="hidden-xs">
         want to learn the basics of software development.
        </p>
        <button type="button" class="btn btn-primary btn-lg link__item">JOIN US NOW</button>
      </div>
      <div class="col-6">
        <img src="/assets/img/coder6.png" alt="" class="image">
      </div>
    </div>
</div>

<app-orbit></app-orbit>
<app-form></app-form>


