$color-dark: #000;
$color-pink: #d63384;


$bp-medium: 56.75rem;

.heading__primary {
  text-align: left;
  margin-top: 4rem;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-dark;

  @media only screen and(max-width: $bp-medium) {
     font-weight: 150;
     font-size: 1.5rem;
     text-align: left;
  }
}

.long__copy {
  text-align: left;
  margin-top: 2rem;
  font-size: 1rem;
  color: $color-dark;

  @media only screen and(max-width: $bp-medium) {
      text-align: left;
      font-size: 1rem;
  }
}

.link__item {
  margin-top: 1rem;
}


.image {
  margin-top: 4rem;
}


