<section class="section-form">
   <div class="container">
    <h1 class="display-4 text-center heading__secondary">CAN'T FIND A COURSE</h1>
    <p class="lead link__slide">
      Fill the form below with the course you would like to take and why you want the course added
    </p>
   </div>
   <div class="row g-3">
     <div class="col">
      <input type="text" class="form-control group__form" placeholder="Full Name" aria-label="Full Name">
     </div>
     <div class="col">
      <input type="text" class="form-control group__form" placeholder="Email Address" aria-label="Email Address">
     </div>
   </div>
   <div class="form-group row">
    <div class="col-md-6">
      <textarea class="form-control group__form" id="" row="3" placeholder="Course Name and reason"></textarea>
    </div>
    <div class="col-md-6">
     <button type="button" class="btn btn-lg btn-light item__btn">Submit</button>
    </div>
   </div>
   <div class="container">
     <img src="/assets/img/coder12.png" alt="" class="image">
   </div>
  </section>


  <section class="section-link">
    <div class="row">
     <div class="col-4">
      <ul class="nav flex-column side-nav">
       <li class="nav-item side-nav__item--active">
        <a href="#" class="nav-link active side-nav__link">
          <img src="/assets/img/coder13.svg" alt="" class="side-nav__icon">
          <span class="side-nav__span">Links</span>
        </a>
       </li>
       <li class="nav-item side-nav__item--active">
        <a href="#" class="nav-link active side-nav__link">
          <img src="/assets/img/coder13.svg" alt="" class="side-nav__icon">
          <span class="side-nav__span">Home</span>
        </a>
       </li>
       <li class="nav-item side-nav__item--active">
        <a href="#" class="nav-link active side-nav__link">
          <img src="/assets/img/coder13.svg" alt="" class="side-nav__icon">
          <span class="side-nav__span">About</span>
        </a>
       </li>
       <li class="nav-item side-nav__item--active">
        <a href="#" class="nav-link active side-nav__link">
          <img src="/assets/img/coder13.svg" alt="" class="side-nav__icon">
          <span class="side-nav__span">How it works</span>
        </a>
       </li>
       <li class="nav-item side-nav__item--active">
        <a href="#" class="nav-link active side-nav__link">
          <img src="/assets/img/coder13.svg" alt="" class="side-nav__icon">
          <span class="side-nav__span">Apply</span>
        </a>
       </li>
       <li class="nav-item side-nav__item--active">
        <a href="#" class="nav-link active side-nav__link">
          <img src="/assets/img/coder13.svg" alt="" class="side-nav__icon">
          <span class="side-nav__span">Contact</span>
        </a>
       </li>
      </ul>
     </div>
     <div class="col-4">
      <ul class="nav flex-column side-nav">
        <li class="nav-item side-nav__item--active">
          <a href="#" class="nav-link active side-nav__link">
            <p class="side-nav__paragraphy">
              Contact Phone
              <br class="hidden-xs">
              Numbers
            </p>
          </a>
        </li>
        <li class="nav-item side-nav__item--active">
         <a href="#" class="nav-link active side-nav__link">
           <p class="side-nav__paragraphy">
            Customer Service:
            <br class="hidden-xs">
            02035143971
           </p>
         </a>
        </li>
        <li class="nav-item side-nav__item--active">
         <a href="#" class="nav-link active side-nav__link">
          <p class="side-nav__paragraphy">
            0-24h every day. Customised
          </p>
         </a>
        </li>
        <li class="nav-item side-nav__item--active">
         <a href="#" class="nav-link active side-nav__link">
          <p class="side-nav__paragraphy">
            service: Local call. Nigerian time.
          </p>
         </a>
        </li>
      </ul>
     </div>
     <div class="col-4">
        <form action="#" class="form">
          <div class="form__group">
            <input type="text" class="form__input" placeholder="E-mail Address" required>
            <label for="email" class="form__label">E-mail Address</label>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Subject" required>
            <label for="email" class="form__label">Subject</label>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Message" required>
            <label for="email" class="form__label">Message</label>
          </div>
        </form>
        <button type="button" class="btn btn-primary">SEND MESSAGE</button>
     </div>
    </div>
  </section>

<div class="end">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">
        <p class="long__copy">
          © 2020 Company LTD All rights reserved . Terms & Conditions|Privacy Policy
        </p>
      </a>
    </li>
    <li class="nav-item side__right">
     <img src="/assets/img/fblogo.png" alt="" class="social__image">
    </li>
    <li class="nav-item">
      <img src="/assets/img/tw.png" alt="" class="social__image">
    </li>
  </ul>
</div>
