<section class="section-forum">
  <div class="container">
    <h1 class="display-4 text-center heading__primary">Forums</h1>
    <p class="lead long__copy">
     Forums are where online classes happen, courses can only be
     <br class="hidden-xs">
     accessed after joining a forum.
    </p>
   </div>

     <div class="row">
     <div class="col-6">
      <div class="side-frame">
         <img src="/assets/img/coder3.png" alt="" class="frame-image">
        <div class="frame-text">
          <h1>Website Design</h1>
          <p class="frame-inset">
            learn everything you need
            <br class="hidden-xs">
            to know about website
            <br class="hidden-xs">
            design from UI designs in
            <br class="hidden-xs">
            sketch and figma to actual
            <br class="hidden-xs">
            code using HTML5 CSS3
            <br class="hidden-xs">
            and JAVASCRIPT
          </p>
          <ul>
            <li><a href="#" class="btn btn-light">Figma</a></li>
            <li><a href="#" class="btn btn-light">sketch</a></li>
            <li><a href="#" class="btn btn-light">HTML</a></li>
          </ul>
          <div class="frame-line">

          </div>
        </div>
      </div>
     </div>
     </div>
</section>
