<div class="section-features">
  <div class="container">
     <h1 class="display-4 text-center heading__secondary">LAUNCH YOUR CARRER INTO THE ORBIT</h1>
     <p class="lead link__slide">
       Get started with a carrer in front end development by learning
       <br class="hidden-xs">
       the basics of the HTML5, CSS3 and JavaScript. Master the languages of
       <br class="hidden-xs">
       the web. This path will prepare you to build basic websites and then
       <br class="hidden-xs">
       build interactive web apps.
     </p>
     <img src="/assets/img/coder8.png" alt="" class="image">
  </div>
</div>


<section class="section-work">
   <div class="container">
     <h1 class="display-4 text-center heading__secondary">HERE'S HOW IT WORKS</h1>
   </div>
   <div class="row">
     <div class="col-4">
      <img src="/assets/img/coder5.png" alt="" class="image__work">
     </div>
     <div class="col-4">
      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__header">
            <strong class="navigation__text">1</strong>
          </span>
        </label>
      </div>
     </div>
     <div class="col-4">
       <div class="plan__box--1">
        <h1 class="heading__tertiary">
          study from the comfort of
          <br class="hidden-xs">
          your home
        </h1>
        <p class="long__copy">
          Inspire Coders equips you with tons
          <br class="hidden-xs">
          of resources ranging from books,
          <br class="hidden-xs">
          blog posts, videos, e-books which
          <br class="hidden-xs">
          can all be downloaded and can
          <br class="hidden-xs">
          be accessed offline for times of
          <br class="hidden-xs">
          low internet connection.
        </p>
       </div>
     </div>
   </div>
   <div class="row">
    <div class="col-4">
     <div class="plan__box--2">
        <h1 class="heading__tertiary">
          attempt weekly challenges
        </h1>
        <p class="long__copy">
         You learning by writing code,
         <br class="hidden-xs">
          practice what you have learnt
          <br class="hidden-xs">
          so far and attemp weekly
          <br class="hidden-xs">
          challenges which would be
          <br class="hidden-xs">
          challenges which would be
          <br class="hidden-xs">
          given, solutions can be
          <br class="hidden-xs">
          accessed on the dashboard
          <br class="hidden-xs">
          and the best solutions would
          <br class="hidden-xs">
          be displayed on the leader
          <br class="hidden-xs">
          board
        </p>
     </div>
    </div>
    <div class="col-4">
      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__header">
            <strong class="navigation__text">2</strong>
          </span>
        </label>
      </div>
    </div>
    <div class="col-4">
     <img src="/assets/img/coder11.png" alt="" class="image__work--1">
    </div>
   </div>
   <div class="row">
    <div class="col-4">
     <img src="/assets/img/coder10.png" alt="" class="image__work">
    </div>
    <div class="col-4">
      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__header">
            <strong class="navigation__text">3</strong>
          </span>
        </label>
      </div>
    </div>
    <div class="col-4">
     <div class="plan__box--1">
      <h1 class="heading__tertiary">enjoy one on one mentorship</h1>
      <p class="long__copy">
       Meet with mentors on the platform
       <br class="hidden-xs">
       and other team mates for peer
       <br class="hidden-xs">
       review session, codelabs, meetups
       <br class="hidden-xs">
       tcs
      </p>
     </div>
    </div>
   </div>
</section>


