<div class="container">
  <app-course-header></app-course-header>
  <div class="content">
    <nav class="sidebar">
      <app-side-nav></app-side-nav>
    </nav>
    <main class="facilitator-view">
      <div class="overview">
       <h1 class="overview__heading">Facilitator</h1>
      </div>
      <div class="overview">
        <span class="overview__span"><img src="/assets/img/user.svg" alt="" class="overview__icon">Tutor</span>
      </div>
      <div class="overview">
        <div class="new-user">
         <div class="new-user__new">
          <img src="/assets/img/coder14.png" alt="" class="new-user__new-photo">
         </div>
        </div>
      </div>
      <div class="overview">
       <h2 class="overview__name">Patricia Oyelami</h2>
      </div>
      <div class="overview">
        <p class="overview__copy">patriciaoyelami@yahoo.com</p>
      </div>
      <div class="overview">
        <p class="overview__copy">Patricia | 08083331212</p>
      </div>
      <div class="overview">
       <div class="form-group row">
        <div class="col-md-6">
           <button type="button" class="btn btn-primary" style="margin-left: 30rem; width: 30%;">Edit Profile</button>
        </div>
        <div class="col-md-6">
         <button type="button" class="btn btn-secondary" style="margin-left: 18rem; background: #FDC2CC; border: none; text-decoration: none;">Delete Profile</button>
        </div>
       </div>
      </div>
      <div class="overview">
        <div class="col-4">
         <div class="total__box--1">
            <div class="col-6">
              <img src="/assets/img/coder22.png" alt="" class="image--1">
            </div>
            <div class="col-6">
              <p class="no-pad">Total Number of Courses</p>
              <h3 class="demi">22.8%</h3>
            </div>
         </div>
        </div>
        <div class="col-4">
         <div class="total__box--2">
            <div class="col-6">
              <img src="/assets/img/coder22.png" alt="" class="image--2">
            </div>
            <div class="col-6">
              <p class="no-pad">Total Number of Forums</p>
              <h3 class="demi">22.8%</h3>
            </div>
         </div>
        </div>
        <div class="col-4">
          <div class="total__box--3">
            <div class="col-6">
              <img src="/assets/img/coder24.png" alt="" class="image--3">
            </div>
            <div class="col-6">
              <p class="no-pad">Total Number of Students</p>
              <h3 class="demi">22.8%</h3>
            </div>
          </div>
        </div>
      </div>
      <table class="table inset-link">
         <thead>
           <tr class="table-active">
             <th scope="col">Title</th>
             <th scope="col">Code</th>
             <th scope="col">Level</th>
             <th scope="col">Date Created</th>
             <th scope="col">Status</th>
           </tr>
         </thead>
         <tbody style="margin-top: 1rem;">
          <tr scope="row" class="new-crash"  [ngClass]="isSelected(course.id) ? 'shadow' : null" *ngFor="let course of courses"  (click)="toggleCourse(course.id)">
            <th>{{ course.title }}</th>
            <td>{{ course.code }}</td>
            <td>{{ course.level }}</td>
            <td>{{ course.createdOn }}</td>
            <td><button type="button" class="high-drive">Completed</button></td>
          </tr>
         </tbody>
      </table>
    </main>
  </div>
</div>
