<ul class="nav flex-column side-nav">
  <li class="nav-item side-nav__item--active">
    <a [routerLink]="['/dashboard']" class="nav-link active side-nav__link">
      <img src="/assets/img/database.svg" alt="" class="side-nav__icon">
      <span class="side-nav__span">Dashboard</span>
    </a>
  </li>
  <li class="nav-item side-nav__item--active">
    <a [routerLink]="['/course-list']" class="nav-link active side-nav__link">
      <img src="/assets/img/grid.svg" alt="" class="side-nav__icon">
      <span class="side-nav__span">All courses</span>
    </a>
  </li>
  <li class="nav-item side-nav__item--active">
    <a [routerLink]="['/forum']" class="nav-link active side-nav__link">
      <img src="/assets/img/database.svg" alt="" class="side-nav__icon">
      <span class="side-nav__span">Forums</span>
    </a>
  </li>
  <li class="nav-item side-nav__item--active">
    <a [routerLink]="['/add-facilitator']" class="nav-link active side-nav__link">
      <img src="/assets/img/user.svg" alt="" class="side-nav__icon">
      <span class="side-nav__span">Tutors</span>
    </a>
  </li>
  <li class="nav-item side-nav__item--active">
    <a href="#" class="nav-link active side-nav__link">
      <img src="/assets/img/chat.svg" alt="" class="side-nav__icon">
      <span class="side-nav__span">Chats</span>
    </a>
  </li>
  <li class="nav-item side-nav__item--active">
    <a href="#" class="nav-link active side-nav__link">
      <img src="/assets/img/cog.svg" alt="" class="side-nav__icon">
      <span class="side-nav__span">Settings</span>
    </a>
  </li>
</ul>
