.container {
  max-width: 120rem;
  background-color: #F5F5FB;
  min-height: 50rem;
}

.content {
  display: flex;
}

.header {
 height: 7rem;
 background-color: #ffffff;
 display: flex;
 justify-content: space-between;
}

.sidebar {
  background-color: #ffffff;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-view {
  background-color: #F5F5FB;
  flex: 1;
  height: 80rem;
}

.header__secondary {
  margin-top: 1rem;
  color: #000;
  margin-left: 20rem;
  font-size: 1rem;
}

.long__copy {
  margin-left: 6rem;
  font-size: 1rem;
  color: #000;
  margin-top: 1rem;
}

.image {
  width: 40%;
  height: 40%;
  margin-left: 10rem;
}
