<div class="container">
  <app-course-header></app-course-header>
  <div class="content">
     <nav class="sidebar">
      <app-side-nav></app-side-nav>
     </nav>
     <main class="course-view">
       <div class="accordian" id="accordianExample" style="margin-top: 6rem; padding: 4rem; width: 60%; height: 500px;">
        <div class="card">
         <div class="card-header" id="headingOne">
           <h5 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: #000;">Header Label</button><span><button type="button" class="btn btn-link collapsed close" data-dismiss="alert"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><span>&times;</span></button></span></h5>
         </div>
         <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordianExample" style>
           <div class="card-body">
            <h2 class="header__secondary">Headline Text</h2>
              <p class="long__copy">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptates repudiandae
               <br class="hidden-xs">
               ab ipsam ducimus soluta, illum reprehenderit veritatis nulla assumenda laborum
             </p>
              <input type="text" class="form-control" placeholder="Add Placeholder Text here"  style="margin-top: 1rem; width: 60%; height: 60%; margin-left: 6rem;">
              <button type="button" class="btn btn-primary" style="margin-left: 15rem;  margin-top: 1rem; width: 20%; height: 20%;">Text</button>
           </div>
         </div>
        </div>
        <div class="card" style="margin-top: 4rem; margin-left: 20rem; width: 130%; height: 130%;">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: #000;">Header Label</button><span><button type="button" class="btn btn-link collapsed close" data-dismiss="alert"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><span>&times;</span></button></span></h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordianExample" style>
            <div class="card-body">
              <img src="/assets/img/coder20.png" alt="" class="image">
             <h2 class="header__secondary">Headline Text</h2>
               <p class="long__copy">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptates repudiandae
                <br class="hidden-xs">
                ab ipsam ducimus soluta, illum reprehenderit veritatis nulla assumenda laborum
              </p>
              <div class="row">
                <div class="col-6">
                 <button type="button" class="btn btn-light" style="margin-top: 1rem; margin-left: 8rem;">Cancel</button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-primary" style="margin-top: 1rem;">Text</button>
                </div>
               </div>
          </div>
          </div>
         </div>
       </div>
     </main>
  </div>
</div>
