<div class="container">
   <app-course-header></app-course-header>
   <div class="content">
      <nav class="sidebar">
         <app-side-nav></app-side-nav>
      </nav>
      <main class="forum-view">
        <div class="overview">
          <h1 class="overview__heading">Forum</h1>
        </div>
        <div class="overview">
          <span class="overview__span"><img src="/assets/img/user.svg" alt="" class="overview__icon">Forum</span>
        </div>
        <div class="overview">
          <h1 class="overview__heading" style="font-size: 1rem;">Forum Name</h1>
        </div>
        <div class="overview">
         <div class="col-3">
          <form action="#" class="form">
            <div class="form__group">
              <input type="text" class="form__input" placeholder="Web Des" required>
            </div>
         </form>
         </div>
         <div class="col-3">
          <form action="#" class="form">
            <div class="form__group">
              <input type="text" class="form__input" placeholder="Filter by course" required>
          </div>
         </form>
         </div>
         <div class="col-3">
          <form action="#" class="form">
            <div class="form__group">
              <input type="text" class="form__input" placeholder="Filter by Date" required>
            </div>
         </form>
         </div>
         <div class="col-3">
           <button type="button" class="btn btn-primary" style="margin-top: 3rem;">Add Forum</button>
         </div>
        </div>
         <table class="table inset-link">
           <thead>
             <tr class="table-active">
               <th scope="col">Name</th>
               <th scope="col">Instructor</th>
               <th scope="col">Course</th>
               <th scope="col">Max size</th>
               <th scope="col">No of Students</th>
               <th scope="col">Date Created</th>
               <th scope="col">Actions</th>
             </tr>
           </thead>
           <tbody style="margin-top: 1rem;">
             <tr scope="row" class="new-crash" [ngClass]="isSelected(forum.id) ? 'shadow' : null " *ngFor="let forum of forums" (click)="toggleSelected(forum.id)">
               <th>{{ forum.name }}</th>
               <td>{{ forum.instructorId }}</td>
               <td>{{ forum.courseId }}</td>
               <td>{{ forum.maxSize }}</td>
               <td>{{ forum.numberOfStudents }}</td>
               <td>{{ forum.createdOn }}</td>
               <td><img src="/assets/img/coder21.png" alt="" class="image"><span style="margin-left: 1rem;"><img src="/assets/img/coder26.svg" alt="" class="image"></span></td>
             </tr>
           </tbody>
         </table>
         <mat-paginator [length]="totalCourses" [pageSize]="coursePerPage" [pageSizeOptions]="pageSizeOptions" style="background: #F5F5FB;"></mat-paginator>
      </main>
   </div>
</div>
