<div class="side__layout">
  <div class="story__picture">
     <strong class="story__logo">Inspire Coders</strong>
     <img src="/assets/img/coder7.png" alt="" class="story__image">
 </div>
  <div class="story__content">
    <ul>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a >How It Works</a></li>
      <li><a href="#">Contact</a></li>
      <li><a [routerLink]="['/signup']"><button type="button" class="btn btn-light">Signup</button></a></li>
      <li><a [routerLink]="['/login']"><button type="button" class="btn btn-primary">Login</button></a></li>
  </ul>
  <h3 class="heading-3">Forgot your Password</h3>
  <p class="long__copy">
    Don't be disturbed, this happens sometimes, Kindly type in your email
    <br class="hidden-xs">
    and hit the submit button. An email confirmation would be sent to you upon
    <br class="hidden-xs">
    success.
  </p>
  <div class="form-floating mb-3">
    <label for="emailAddress" style="margin-left: 6rem;">Email Address</label>
    <input type="email" class="form-control" id="floatingEmail" placeholder="Enter your email address" style="margin-left: 6rem;">
  </div>
   <div class="form-group">
    <a [routerLink]="['/confirm-password']"><button type="submit" class="btn btn-primary btn-lg" style="margin-left: 6rem;">Submit</button></a>
   </div>
  </div>
</div>
