<header class="header">
  <img src="/assets/img/IC.png" alt="" class="logo">
     <span class="logo__span">Inspire</span>
     <form action="#" class="search">
       <input type="text" class="search__input" placeholder="search course">
       <button class="search__button">
         <img src="/assets/img/button.svg" alt="" class="search__icon">
       </button>
     </form>
     <nav class="user-nav">
       <div class="user-nav__icon-box">
        <img src="/assets/img/coder15.png" alt="" class="user-nav__icon">
       </div>
       <div class="user-nav__user">
         <img src="/assets/img/coder14.png" alt="" class="user-nav__user-photo">
         <span class="user-nav__user-name">Mo Adebayo</span>
         <img src="/assets/img/coder16.png" alt="" class="user-nav__polygon">
       </div>
     </nav>
</header>
